body{
    background-color:#292929;
    color: white;
    text-align: left; 
    width: 200px;
}

::-webkit-scrollbar{
    display: none;
}

.userimage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 4px;
    float: left; 
}

.message123{
    font-size: x-small;
}

.save {
   background: grey;
   color: white;
   border: 0px;
}

.logout {
   background: grey;
   color: white;
   border: 0px;
}

.message321 {
    color: white;
    font-size: small;
}

.commentsheader {
    text-align: center;
}

.userComments {
    text-align: center;
}

.inputs {
    text-align: center;
    position: sticky;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #292929; 
}

.date {
    font-size: x-small;
    color: rgb(158, 158, 158);
}

.replybutton {
    background-color: transparent;
    outline: none;
    font-size: x-small;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: rgb(158, 158, 158);
    margin-right: 20px;
    float: right;
}

.highlight {
    color: pink;
    background: blue;
    font-style: fantasy;
  }