<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Chrome Comments</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="/style.css">
    <style> 
        body{
            background-color: lightgrey;
        }
        input[id="comment"]{  
            text-align: center; 
        }
        input[id="name"]{  
            text-align: center; 
        }
        div[class="col-md-4"]{
            margin-left: auto;
            margin-right: auto;
        }
        img[id="friendImage"]{
            width: 40px;
        }
    </style>
</head>

<body>

    <div class="container-fluid">

        <div class="row extra_margin">

            <div class="col-md-4">
                
                <div class="text-center">
               <% for(friend of friends) {%>
                    
                    <div class = "commentDiv"> 
                        <img src = "<%=friend.thumbnail%>" class = "userimage">
                        <div class = "message321">
                            <a href = <%= "/profile/getProfile/" + friend._id%> style="color:white"><%= friend.userName%></a>
                        </div>
                        

                    </div>
           <% } %>

            </div>
        </div>
            <br />


        </div>

    </div>

</body>

</html>